a {
    text-decoration: none;
    color: inherit;
}

body{
    width: auto;
    margin: auto 0;;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 2vw 0 1vw 0;
    width: auto;
    background-color: #fff;
}

.header__img {
    display:inline-block;
    margin-left: 4vw;
    width: 9vw;
    img {
        width:100%;
    }
}

.header__nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.header__nav-li {
    display: inline-block;
    padding: 1vw 1.8vw 0 0;
    font-size: 1.15vw;
    color: #888888;
    text-decoration: none;
}

.top {
    position: relative;
    width: auto;
    background: #fff;
}

.top__img {
    right: 0;
    display:block;
    margin: 0 0 0 auto;
    width: 60%;
    z-index: 15;
    img{
        width: 100%;
    }
}

.top__content {
    position: absolute;
    top: 10%;
    left: 19.5%;
    width: 50%;
    z-index: 20;
}

.top__content-ttl {
    padding-top: 10px;
    padding-bottom: 4.5vw;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 4.8vw;
    color: #b31667;
    line-height: 7.5vw;
    white-space: nowrap;
}

.top__content-ttl span {
    color: #08a1b0;
}

.top__content-txt {
    padding-bottom: 0.7vw;
    font-weight: bold;
    font-size: 1.65vw;
    color: #b31667;
    white-space: nowrap;
}

.top__content-txt span {
    color: hsl(185, 91%, 36%);
}

.top__content-prof {
    font-size: 1.15vw;
    color: #888888;
    line-height: 2vw;
    white-space: nowrap;
}

.news {
    width: 100%;
    margin-top: 5vw;
}

.news__mark {
    padding-left: 22%;
    font-family: 'Indie Flower', cursive;
    font-size: 1.15vw;
    color: #b31667;
    line-height: 3vw;
}

.news__ttl {
    padding-left: 22%;
    padding-bottom: 3vw;
    font-weight: bold;
    font-size: 1.5vw;
    color: #888888;
}

.news__border {
    margin-left: 22%;
    padding: 1.2vw 0 1.2vw 0;
    width: 60%;
    border-top: 0.2vw solid #f5f5f5;
    border-bottom: 0.2vw solid  #f5f5f5;
}

.news__txt {
    padding: 0.8vw 0 0.8vw 0;
    left: 0;
    font-size: 1.15vw;
    color: #888888;
    border-bottom: 0.17vw solid #f5f5f5;
    line-height: 2vw;
    white-space: nowrap;
}

.news__btn {
    display: inline-block;
    border-radius: 4vw;
    margin: 0 2.5vw 0 2.5vw;
    padding: 0 1.5vw;
    width: 5vw;
    text-align: center;
    background: #b31667;
    font-size: 1.15vw;
    color: #fff;
}

.about {
    margin-top: 5vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    width: 100%;
    background: #f5f5f5;
}

.about__mark {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1.15vw;
    color: #b31667;
    line-height: 3vw;
}

.about__ttl {
    text-align: center;
    padding-bottom: 3vw;
    font-weight: bold;
    font-size: 1.5vw;
    color: #888888;
}

.about__content {
    display: flex;
    justify-content: space-between;
    background: #f5f5f5;
}

.about__content-img {
    margin-right: 15vw;
    width: 28.5%;
    background: #f5f5f5;
    img {
        width:100%;
    }
}

.about__content-txt {
    margin-left: 15vw;
    font-size: 1.15vw;
    color: #888888;
    line-height: 2vw;
    background: #f5f5f5;
}

.about__content-txt p {
    padding-bottom: 2vw;
}

.service {
    width: 100%;
    margin: 5vw 15vw 5vw 15vw;
}

.service__mark {
    font-family: 'Indie Flower', cursive;
    font-size: 1.15vw;
    color: #b31667;
    line-height: 3vw;
}

.service__ttl {
    padding-bottom: 3vw;
    font-weight: bold;
    font-size: 1.5vw;
    color: #888888;
}

.service__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 14vw 14vw;
    width: 70%;
}

.service__content--left {
    grid-column: 1/2;
    grid-row: 1/3;
    background: #b31667;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.service__content--left-img {
    padding: 1.8vw 0 1vw 0;
    width: 32%;
    img {
        width: 100%;
    }
}

.service__content--left h3 {
    padding-bottom: 1.15vw;
    font-size: 1.2vw;
    font-weight: bold;
}

.service__content--left p {
    padding:0 3.85vw 0 3.85vw;
    font-size: 1.15vw;
    line-height: 2vw;
}

.service__content--upper-right {
    grid-column: 2/3;
    grid-row: 1/2;
    background: #b35c8b;
    display: flex;
}

.service__content--right-img {
    padding: 2%;
    width: 32%;
    img {
        width: 100%;
    }
}

.service__content--upper-right div {
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
    color: #fff;
}

.service__content--upper-right h3 {
    padding-bottom: 1.5vw;
    font-size: 1.2vw;
    font-weight: bold;
}

.service__content--upper-right p {
    font-size: 1.15vw;
    line-height: 2vw;
}

.service__content--lower-right {
    grid-column: 2/3;
    grid-row: 2/3;
    background: #b2889e;
    display:flex;
}


.service__content--lower-right div {
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
    color: #fff;
}

.service__content--lower-right h3 {
    padding-bottom: 1.5vw;
    font-size: 1.2vw;
    font-weight: bold;
}

.service__content--lower-right p {
    font-size: 1.15vw;
    line-height: 1.5vw;
}

.blog {
    padding-top: 3vw;
    padding-bottom: 1vw;
    width: 100%;
    background: #f5f5f5;
}

.blog__mark {
    margin-left: 15vw;
    font-family: 'Indie Flower', cursive;
    font-size: 1.15vw;
    color: #b31667;
    line-height: 3vw;
}

.blog__ttl {
    margin-left: 15vw;
    padding-bottom: 3vw;
    font-weight: bold;
    font-size: 1.5vw;
    color: #888888;
}

.blog__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 15vw;
    margin-right: 15vw;
    width: 70%;
}

.blog__card {
    display: grid;
    width: 30%;
}

.blog__card:last-child {
    margin-bottom: 0;
}

.blog__card-label {
    grid-area: 1/1;
    padding: 4.5%;
    border-top-left-radius: 1vw;
    width: 16%;
    height: 8%;
    font-size: 1.15vw;
    color: #fff;
    background: #b31667;
    z-index: 10;
}

.blog__card-img {
    display: inline-block;
    grid-area: 1/1;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    width: 100%;
    img {
        width:100%;
    }
}

.blog__card-content {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 1.5vw 1.5vw;
    background: #fff;
}

.blog__card-ttl {
    padding-bottom: 2vw;
    font-size: 1.15vw;
    color: #888888;
    line-height: 2vw;
}

.blog__card-tag {
    display: flex;
    justify-content: space-between;
    font-size: 1vw;
}

.blog__card-date {
    display: inline-block;
    color: #888888;
}

.blog__card-cat {
    display: inline-block;
    color: #888888;
}

.blog__btn {
    display: block;
    border-radius: 3.5vw;
    text-align: center;
    margin: 2vw auto;
    padding: 1.5vw;
    width: 10%;
    font-size: 1.15vw;
    color: #b31667;
    border: 2px solid #b31667;
    background: #fff;
}

.company {
    width: 56%;
    margin-top: 7vw;
    padding-left: 22%;
}

.company__mark {
    font-family: 'Indie Flower', cursive;
    font-size: 1.15vw;
    color: #b31667;
    line-height: 3vw;
}

.company__ttl {
    padding-bottom: 3vw;
    font-weight: bold;
    font-size: 1.5vw;
    color: #888888;
}

table {
    width: 100%;
    border-collapse: collapse;
}


th {
    border: 0.2vw solid #e5e5e5;
    text-align: left;
    padding-left: 2vw;
    width: 15vw;
    font-size: 1.15vw;
    color: #888888;
    font-weight: bold;
    background: #f5f5f5;
}

td {
    border: 0.2vw solid #e5e5e5;
    padding: 1.5vw 2vw;
    font-size: 1.15vw;
    color: #888888;
}

.banner {
    display: flex;
    justify-content: flex-center;
    margin-top: 8vw;
    width: 100%;
}

.banner__recurt {
    position: relative;
    width: 100%;
    height: 20.6vw;
}

.banner__recurt img {
    width: 100%;
    max-width: 100%;
    height: 20.6vw;
    object-fit: cover;
    object-position: 100% 0;
}

.banner__recurt h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2.1vw;
    color: #fff;
}

.banner__interview {
    position: relative;
    width: 100%;
    height: 20.6vw;
}

.banner__interview img {
    width: 100%;
    max-width: 100%;
    height: 20.6vw;
    object-fit: cover;
    object-position: 100% 0;
}

.banner__interview h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2.1vw;
    color: #fff;
}

.contact {
    margin-top: 5vw;
    text-align: center;
}

.contact p {
    position: relative;
    margin-bottom: 1vw;
    font-size: 1.15vw;
    color: #888888;
}

.contact p::after {
    content: "";
    position: absolute;
    top: 3.3vw;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0.15vw;
    height: 2vw;
    margin: auto;
    background-color: #b31667;
}

.contact__btn {
    position: relative;
    display: inline-block;
    border-radius: 3.5vw;
    text-align: center;
    margin: 3vw auto;
    padding: 2vw;
    width: 12%;
    font-size: 1vw;
    color: #fff;
    border: 0.17vw solid #b31667;
    border-bottom: 0.7vw solid #840151;
    background: linear-gradient(90deg, #fd1f90, #a81a62);
    transition: .5s;
}

.contact__btn::before {
    content: "";
    position: absolute;
    top: 35%;
    left: 1.8vw;
    width: 1.5vw;
    height: 1.5vw;
    background: url(../img/mailicon.svg) no-repeat;
    background-size: cover;
    transform: translate (0, -50%);
}

.contact__btn:hover {
    transform: translateY(5px);
    border: none;
}

footer {
    text-align: center;
    padding: 1vw 0 1vw 0;
    font-size: 0.8vw;
    color: #888888;
    background: #f5f5f5;
}